$mainColor:#fff;
$secondColor:#000;
$gold: #FFD700;


@font-face {
    font-family: Tajawal;
    src: url(../webfonts/Tajawal-Regular.ttf);
}


@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");



* {
    font-family: 'Tajawal';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: $secondColor;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

::-webkit-scrollbar-thumb {
    background-color: $gold;
    outline: none;
    border-radius: 20px !important;

}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;

}

button:focus {
    outline: 0;
}



.color1 {
    color: $mainColor !important;
}

.color2 {
    color: $secondColor !important;
}

.BG1 {
    background-color: $mainColor !important;
}

.BG2 {
    background-color: $secondColor !important;
}

.row {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 32px;
    margin: 0px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin: 0px 5px;
}

.form-control:focus {
    background-color: #fff;
    border-color: $mainColor;
    outline: none;
    box-shadow: 0px 2px 5px $mainColor;
    transition: all .3s ease-in-out;
}

.select2 {
    width: 100% !important;

}

.select2-selection__rendered {
    line-height: 34px !important;
    padding-left: 8px !important;
    padding-right: 20px !important;

}

.select2-container .select2-selection--single {
    height: 38px !important;
    border: 1px solid #ced4da;
}

.select2-selection__arrow {
    height: 37px !important;
    left: auto;
    right: 1px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $mainColor;
}

.select2-container--default .select2-results__option--selected {
    background-color: $secondColor;
    color: #fff;
}

.select2-dropdown {
    z-index: 100;
    box-shadow: 0px 4px 4px #00669950;

}

.select2-search--dropdown .select2-search__field {
    box-shadow: 0px 4px 4px #00669950;

}



/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

.main-header {
    .navbar {
        background: #fff;
        box-shadow: none;
        transition: .5s ease;
        padding: 0px;

        a {
            color: #000;
            text-transform: uppercase;
            margin: 0px 10px;
            transition: .3s ease-in-out all;

            &:hover {
                color: $gold !important;
            }
        }


    }

    .navbar-brand {
        padding: 5px;

        img {
            height: 60px;
            transition: .5s ease;
        }

        h1 {
            text-transform: none;
            font-size: 50px;
            padding: 5px;
            transition: .5s ease-in-out;



        }
    }

    .navAnimate {
        background-color: #fff;
        transition: .5s ease;
        box-shadow: 0px 4px 6px #00000030;

        a {
            color: #000 !important;
        }

        .navbar-brand {
            img {
                height: 60px;
                width: auto;
                transition: .5s ease;

            }

            h1 {
                font-size: 40px;
                transition: .5s ease-in-out;

            }
        }
    }

}


@media(max-width:768px) {
    .navbar {
        background: #fff !important;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////



/*----------*/
.main {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        position: fixed;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    #player, #video_background {
        width: 100%;
        min-width: 1100px;
        height: 140%;
        margin: auto;
        position: fixed;
        z-index: -2;
        display: block;
        object-fit: cover;
    }

    .topContent {
        background-color: rgba(255, 255, 255, 0.347);
        position: fixed;
        color: #fff;
        width: 85vw;
        max-width: 200px;
        text-align: center;
        padding: 20px;
        z-index: 1;
        border-radius: 20px;
        box-shadow: 0px 6px 10px #00000030;

        h1 {
            font-size: 60px;
            line-height: 50px;


            span {
                text-transform: uppercase;
                color: $gold;
                font-size: 35px;
                font-family: Tajawal;
                font-weight: bold;

            }
        }

        p {
            padding: 20px;
            font-size: 20px;
            // text-align: start;
            color: #000;
        }

        img {
            width: 150px;
        }

        .goDown {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100% !important;
            padding: 0;
            margin: auto;

            &:hover {
                animation-fill-mode: both;
            }
        }



        @keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0);
            }

            40% {
                transform: translateY(-10px);
            }

            60% {
                transform: translateY(-5px);
            }
        }

        .bounce {
            animation: bounce 3s infinite;
        }


    }

}

.title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 40px;

    h1 {
        font-size: 50px;
        font-weight: bold;
        padding-bottom: 20px;
        position: relative;
        color: #000;

        span {
            color: $gold;
        }

        &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $gold;
            border-radius: 100px;
            position: absolute;
            bottom: 0px;
            right: 0;


        }
    }
}


content {
    position: relative;
    z-index: 2;
    background-color: #fff;
    display: block;
    height: 100%;
    color: #000;

}



.contact {

    padding-top: 90px;
    padding-bottom: 30px;
    position: relative;
    height: 100%;
    background-image: url(../img/contact.jpg);
    background-size: 750px auto;
    background-position: left;
    background-repeat: no-repeat;

    &::after {
        content: '';
        width: 750px;
        height: 100%;
        background: linear-gradient(90deg, #ffffffcc, #fff);
        position: absolute;
        bottom: 0px;
        left: 0;
        transition: .3s ease-in-out all;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .contactImg {
        position: relative;


        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .form-control {
        background: transparent;
        border-radius: 0px;
        border: 1px solid #ced4da;

    }

    .btnDiv {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 100%;
            height: 100%;
            font-size: 16px;
            background-color: $mainColor;
            color: #777;
            border: 1px solid #ced4da;
            margin: 0;
            box-shadow: none;

        }
    }

    form {
        background: #fff;
        padding: 20px;
    }
}

#Footer {
    background-color: $mainColor;
    padding: 15px 20px;
    color: #000;
    position: relative;
    z-index: 3;
    box-shadow: 0px -3px 5px #00000010;

    a {
        color: #000;
        font-weight: bold;

    }

    .socialIcons {
        padding: 5px;

        a {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 5px;
            border: 1px solid #a2a2a2;
            transition: .3s ease;
            border-radius: 100px;

            i {
                color: #a2a2a2;
                transition: .3s ease;
            }

            &:hover {
                box-shadow: 0px 3px 6px 1px #FFD70050;
                border: 1px $gold solid;
                transform: translateY(-4px);


                i {
                    color: $gold;
                }
            }

        }
    }
}


.app-Pic {
    padding: 80px 20px 40px;
    box-shadow: 0px -3px 50px #00000005;

    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 540px;

        img {
            width: 250px;
            height: 540px;
            box-shadow: 0px 3px 3px #00000030;
        }


    }

}

.Features {
    padding-top: 80px;

    p {
        font-size: 15px;
        line-height: 28px;
    }

    i {
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        box-shadow: 0px 1px 8px 10px #cbcbcb1c;


    }

    .fa-rocket {
        background-color: #50B9E8;
    }

    .fa-star {
        background-color: #FFB30F;
    }

    .fa-users {
        background-color: #19CA94;
    }

    .fa-cog {
        background-color: #FF556E;
    }

}

/////////////////////

.download-app {
    padding-bottom: 50px;
    text-align: center;
    padding-top: 50px;
    position: relative;
    background-image: url(../img/downloadBG.jpg);
    background-size: cover;
    background-attachment: fixed;

    .download-app-img img {
        height: 500px;
        width: 350px;
    }

    .down {
        position: absolute;
        left: 150px;
        top: 0px;
        z-index: 2;
    }

    .download-app-txt {
        color: #000;
        margin-top: 100px;

        p {
            width: 100%;
            padding: 10 0;
            font-size: 17px;
            line-height: 43px;

        }

        img {
            width: 40px;
            height: 40px;
            margin-right: 10PX;

        }

    }

}

///////////////////////////////////


.main-bg {
    padding-top: 100px;

    .appInfo {
        .appName {
            color: $mainColor;
            font-size: 35px;
        }

        p {
            line-height: 38px;
            font-size: 19px;
            color: #7F7777;
        }
    }

    .btn {
        border: 1px solid $gold;
        box-shadow: 0px 3px 5px #00000010;
    }



}


@media(max-width: 576px) {
    .download-app {
        background-size: contain;
    }

    .download-app .download-app-img {
        margin-top: 50px;

        img {
            height: 380px;
            width: 235px;
        }
    }

    .download-app .down {
        left: 100px;
        top: 50px;
    }
}